
section {
        display: flex;
        flex-direction: column;
        align-items: center;
 }

 .assignment-section{
        margin: 1rem;
        text-align: start;

        article{
                margin: 1rem;
        }
 }